<html>
    <head>
    </head>
    <body>
        <h1>
            Your token is: <br>
            {{ .token }}
        </h1>

        <button type="button" onclick="location.href=
            'https://gitee.com/oauth/authorize?client_id=aa023d5d7ed819aeabaf9dcc06681f846132ff990f91c4f5f6b806a4834f5082&redirect_uri=https://scf.baobeihuijia.com/test/uic/login/gitee&response_type=code&scope=user_info%20projects%20pull_requests'" 
            > 
            Sign up with Gitee
        </button>
    </body>
</html>