<html>
    <head>
    </head>
    <body>
        <h1>
            Your token is: <br>
            {{ .token }}
        </h1>

        <button type="button" onclick="location.href={{ .login_url }}"> 
            Sign up with Github
        </button>
    </body>
</html>